/***
    choose background for body with no-repeat and centring it with center and size value equal to cover
    For centering its inside container
    used flexbox to center container both horizontally and vertically
***/

body {
    background: url("../images/bg.jpg") no-repeat center / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Tahoma';
}


/*
    use a grid with 2 equally width columns each containing a fraction of empty space.
    and Gap between columns and rows are 20px
    set mellow shadow for transparent
*/

.container {
    max-width: 1400px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px rgba(0, 255, 85, 0.4);
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


/*
    use flex col to arrange form(first section)
*/

.form {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
}


/*
    to set section header for color and size and font and bold
*/

.section_header {
    color: white;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 28px;
}


/*  
    to set section header for color and size and font and bold
*/

.sec {
    font-family: Garamond, serif;
    color: white;
    font-weight: bold;
    font-size: 22px;
}


/*
    for input name and set color,background ,padding and font size
*/

.inName {
    background: white;
    padding: .2rem .5rem;
    font-size: 1.0rem;
    font-weight: bold;
    color: black;
}


/** This is error wrapper. 
    All error messages will shown on the bottom of the page with a fixed position. centring its inside contents( Texts mainly )
**/

.error {
    position: fixed;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    background-color: rgb(231, 67, 67);
    font-size: 18px;
    left: 0;
    bottom: 0;
    transition: width 3s linear;
}


/* 
    Style for search button, set the the color to gradient. set cursor to change when mouse moves
    text to uppercase and color to white
    set border radius of the button corners

*/

.bt {
    display: block;
    height: 40px;
    border-radius: 25px;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #299698 0%, #4419d1 74%);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}


/*
    just for saved answer: if name exists in local storage = visible else: hidden 
*/

.savedAnswer {
    visibility: hidden;
}


/*
    nothing happend: height = 0
    something happend: height = 5
    background: rgba(0, 0, 0, 0.4); to create Transparent section
    text to bold and defined size
    and fixed position to display a noti. in bottom of page
*/

.notify {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    color: red;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    transition: height .2s;
    font-weight: bold;
    font-size: 1.2rem;
}


/*
    set response colr to cyan
*/

.response {
    color: cyan;
}